{% extends "main/base.html" %}
{% load static %}
{% block body %}
{% if action is None %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="?action=show_attendance" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                                {% include 'includes/errormessage.html'%}
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <select class="form-control" name="subject_id" required>
                                      <option>Select Subject</option>
                                      {% for subject in subjects %}
                                       <option value="{{subject.id}}">{{subject.name}}</option>
                                      {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Show Attenance</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="?action=show_attendance" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                                {% include 'includes/errormessage.html'%}
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <select class="form-control" name="subject_id" disabled>
                                       <option value="{{subject.id}}">{{get_subject}}</option>
                                    </select>
                                 </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                       <div class="card card-table">
                                          <div class="card-body">
                                             <div class="table-responsive">
                                                <table id="table_id" class="table table-hover table-center mb-0 ">
                                                   <thead>
                                                      <tr>
                                                         <th>Date</th>
                                                         <th>Subject Name</th>
                                                         <th>Session Year</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                     {% for i in attendance_report %}
                                                      <tr>
                                                         <td>{{i.attendance_id.attendance_date}}</td>
                                                         <td>
                                                            <h2>
                                                               <a>{{i.attendance_id.subject_id}}</a>
                                                            </h2>
                                                         </td>
                                                         <td>{{i.attendance_id.session_year}}</td>
                                                      </tr>
                                                      {% endfor %}
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock body %}