{% extends "main/base.html" %}
{% block body %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
           <div class="col-auto text-right float-right ml-auto">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" type="button"><i class="fas fa-pray"></i> &nbsp;Leave History</button>
           </div>
        </div>
     </div>
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Apply Leave</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Leave</a></li>
                    <li class="breadcrumb-item active">Apply Leave</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'sendleave' %}" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Apply Leave</span></h5>
                                {% include 'includes/errormessage.html'%}
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="date" class="form-control" name="leave_date" required>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label>Reason for Leave</label>
                                    <textarea class="form-control" name="reason" style="height: 250px;"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Send Application</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="">Apply Leave History</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>Date</th>
                            <th>Leave Reason </th>
                            <th> Leave Status</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in staff_leave_history %}
                         <tr>
                            <td>{{i.date}}</td>
                            <td>{{i.text}}</td>
                            <td>
                                {% if i.leave_status == 0 %}
                                <span class="badge badge-info">Pending</span>
                                {% elif i.leave_status == 1 %}
                                <span class="badge badge-success">Accepted</span>
                                {% else %}
                                <span class="badge badge-danger">Rejected</span>
                                {% endif %}
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}