{% load static  %}   
   <div class="header">
       <div class="header-left">
          <a href="{% url 'hodpage' %}" class="logo">
          <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
          </a>
          <a href="index.html" class="logo logo-small">
          <img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
          </a>
       </div>
       <a href="javascript:void(0);" id="toggle_btn">
       <i class="fas fa-align-left"></i>
       </a>
       <div class="top-nav-search mt-3">
          <strong>Welcome <span>{{user.first_name}} {{user.last_name}}</span>!</strong>
          <!-- <form>
             <input type="text" class="form-control" placeholder="Search here">
             <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form> -->
       </div>
       <a class="mobile_btn" id="mobile_btn">
       <i class="fas fa-bars"></i>
       </a>
       <ul class="nav user-menu">
          <li class="nav-item dropdown noti-dropdown">
             <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
             <i class="far fa-bell"></i> <span class="badge badge-pill">3</span>
             </a>
             <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                   <span class="notification-title">Notifications</span>
                   <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content">
                   <ul class="notification-list">
                      <li class="notification-message">
                         <a href="#">
                            <div class="media">
                               <span class="avatar avatar-sm">
                               <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                               </span>
                               <div class="media-body">
                                  <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                  <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="notification-message">
                         <a href="#">
                            <div class="media">
                               <span class="avatar avatar-sm">
                               <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-11.jpg' %}">
                               </span>
                               <div class="media-body">
                                  <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                                  <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="notification-message">
                         <a href="#">
                            <div class="media">
                               <span class="avatar avatar-sm">
                               <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-17.jpg' %}">
                               </span>
                               <div class="media-body">
                                  <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                                  <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="notification-message">
                         <a href="#">
                            <div class="media">
                               <span class="avatar avatar-sm">
                               <img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-13.jpg' %}">
                               </span>
                               <div class="media-body">
                                  <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                                  <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                               </div>
                            </div>
                         </a>
                      </li>
                   </ul>
                </div>
                <div class="topnav-dropdown-footer">
                   <a href="#">View all Notifications</a>
                </div>
             </div>
          </li>
          <li class="nav-item dropdown has-arrow">
             <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            {% if user.profile_pic == "" %}
             <span class="user-img"><img class="rounded-circle" src="{% static 'assets/default-img/user-default.png' %}" width="31" alt="{{user.first_name}}&nbsp;{{user.last_name}}"></span>
            {% else %}
             <span class="user-img"><img class="rounded-circle" src="{{user.profile_pic.url}}" width="31" alt="{{user.first_name}}&nbsp;{{user.last_name}}"></span>
            {% endif %} 
            </a>
             <div class="dropdown-menu">
                <div class="user-header">
                   <div class="avatar avatar-sm">
                     {% if user.profile_pic == "" %}
                      <img src="{% static 'assets/default-img/user-default.png' %}" alt="{{user.first_name}}&nbsp;{{user.last_name}}" class="avatar-img rounded-circle">
                      {% else %}
                      <img src="{{user.profile_pic.url}}" alt="User Image" class="avatar-img rounded-circle">
                      {% endif %}
                   </div>
                   <div class="user-text">
                      <h6>{{user.first_name}}&nbsp;{{user.last_name}}</h6> 
                      {% if user.user_type == '1' %}
                      <p class="text-muted mb-0">Head of Department</p>
                      {% elif user.user_type == '2' %}
                      <p class="text-muted mb-0">Staff</p>
                      {% else %}
                      <p class="text-muted mb-0">Student</p>
                      {% endif %}
                   </div>
                </div>
                <!-- <a class="dropdown-item" href="profile.html">My Profile</a> -->
                <a class="dropdown-item" href="{% url 'profile' %}">Profile Update</a>
                <a class="dropdown-item" href="inbox.html">Inbox</a>
                <a class="dropdown-item" href="{% url 'doLogout' %}">Logout</a>
             </div>
          </li>
       </ul>
    </div>