{% extends "main/base.html" %}
{% load static %}
{% block body %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Subject</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Subject</a></li>
                    <li class="breadcrumb-item active">Add Subject</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'addSubject' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                                {% include 'includes/errormessage.html'%}
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject Name</label>
                                    <input type="text" class="form-control" name="subject_name" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select class="form-control" name="course_id" required>
                                      <option>Select Course</option>
                                      {% for i in course %}
                                       <option value="{{i.id}}">{{i.name}}</option>
                                      {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Staff</label>
                                    <select class="form-control" name="staff_id" required>
                                      <option>Select Staff</option>
                                      {% for teacher in staff %}
                                       <option value="{{teacher.id}}">{{teacher.admin.first_name}}&nbsp;{{teacher.admin.last_name}}</option>
                                      {% endfor %}
                                    </select>
                                 </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}