{% extends "main/base.html" %} 
{% load static %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="POST" action="{% url 'updatestudent' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                   <div class="col-12">
                      <h5 class="form-title"><span>Edit Student</span></h5>
                   </div>
                   
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>First Name</label>
                         <input type="text" class="form-control" name="first_name" value="{% for student in students%} {{student.admin.first_name}} {% endfor %}">
                         <input type="text" class="form-control" name="student_id" value="{% for student in students%} {{student.admin.id}} {% endfor %}" hidden>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Last Name</label>
                         <input type="text" class="form-control" name="last_name" value="{% for student in students%} {{student.admin.last_name}} {% endfor %}">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Email</label>
                       <input type="email" class="form-control" name="email" value="{% for student in students%} {{student.admin.email}} {% endfor %}">
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Username</label>
                       <input type="text" class="form-control" name="username" value="{% for student in students%} {{student.admin.username}} {% endfor %}">
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Password</label>
                       <input type="text" class="form-control" name="password" placeholder="Fill only if you want to change the password">
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Date of Birth {{student.student_dob}}</label>
                       <div>
                          <input type="date" class="form-control" name="student_dob" value="{% for student in students %} {{student.student_dob}} {% endfor %}">
                       </div>
                    </div>
                 </div>
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Student Id</label>
                         <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Gender</label>
                         <select class="form-control" name="gender" >
                            <option>-------Select Gender-----</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                         </select>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Course</label>
                         <select class="form-control" name="course_id">
                           <option>-----------Select Course-----------</option>
                           {% for course in course %}
                            <option value="{{course.id}}">{{course.name}}</option>
                           {% endfor %}
                         </select>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Session Year</label>
                         <select class="form-control" name="session_id">
                            <option>------Session Year-------</option>
                            {% for session in session %}
                            <option value="{{session.id}}">{{session.session_start}} To {{session.session_end}}</option>
                            {% endfor %}
                         </select>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label>Student Image</label>
                       <input type="file" class="form-control" name="profile_pic">
                    </div>
                    </div>

                   
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Class</label>
                         <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Religion</label>
                         <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Joining Date</label>
                         <div>
                            <input type="date" class="form-control">
                         </div>
                      </div>
                   </div> -->
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Mobile Number</label>
                         <input type="text" class="form-control" name="student_mobile_no"  value="{% for student in students%} {{student.student_mobile_no}} {% endfor %}">
                      </div>
                   </div>
                   
                
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>* Optional Mobile Number</label>
                           <input type="text" class="form-control" name="student_optional_mobile_no" value="{% for student in students%} {{student.student_optional_mobile_no}} {% endfor %}">
                        </div>
                     </div>
                 <!-- <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label> Permanent Address</label>
                       <textarea class="form-control"></textarea>
                    </div>
                 </div> -->
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Admission Number</label>
                         <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <!-- <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Section</label>
                         <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label> Permanent Address</label>
                       <textarea class="form-control" name="permanent_address">{% for student in students%} {{student.permanent_address}} {% endfor %}</textarea>
                    </div>
                 </div>
                 <div class="col-12 col-sm-6">
                    <div class="form-group">
                       <label> Present Address</label>
                       <textarea class="form-control" name="present_address">{% for student in students%} {{student.present_address}} {% endfor %}</textarea>
                    </div>
                 </div>
                   <!-- </div>
                   <div class="col-12">
                      <h5 class="form-title"><span>Parent Information</span></h5>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Father's Name</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Father's Occupation</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Father's Mobile</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Father's Email</label>
                         <input type="email" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Mother's Name</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Mother's Occupation</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Mother's Mobile</label>
                         <input type="text" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Mother's Email</label>
                         <input type="email" class="form-control">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Present Address</label>
                         <textarea class="form-control"></textarea>
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Permanent Address</label>
                         <textarea class="form-control"></textarea>
                      </div>
                   </div> -->
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Update</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>

{% endblock %}