{% extends "main/base.html" %}
{% block body %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Teachers</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Teachers</li>
             </ul>
          </div>
          
          <div class="col-auto text-right float-right ml-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                View all Notification
              </button>
          </div>
       </div>
       {% include 'includes/errormessage.html'%}
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                          {% for staff in staff %}
                         <tr>
                             <td>{{staff.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src={{staff.admin.profile_pic.url}} alt="User Image"></a>
                                  <a href="#">{{staff}}</a>
                               </h2>
                            </td>
                            <td>{{staff.admin.email}}</td>
                            <td class="text-right">
                               <div class="actions">
                                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendnotificationModal-{{forloop.counter}}">
                                    Send Notificaton
                                  </button>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                        </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

<!--  View all Notification Modals -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                   <div class="card card-table">
                      <div class="card-body">
                         <div class="table-responsive">
                            <table id="table_id" class="table table-hover table-center mb-0 ">
                               <thead>
                                  <tr>
                                     <th style="width: 68%;">Name</th>
                                     <th style="width: 68%;">Message</th>
                                     <th style="width: 38%;" class="text-right">Status</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                  {% for i in text %}
                                   <td>{{i.staff_id}}</td>
                                   <td>{{i.message}}</td>
                                   {% if i.message_status == 0 %}
                                   <td><span class="badge badge-success">Seen</span></td>
                                   {% else %}
                                   <td><span class="badge badge-danger">Pending</span></td>
                                   {% endif %}
                                  </tr>
                                  {% endfor %}
                                 </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  {% for i in staff %}
  <div class="modal fade" id="sendnotificationModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendnotificationModal">Send Staff Notification to {{i.admin.first_name}} {{i.admin.last_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'savestaffnotification' %}">
                {% csrf_token %}
                <div class="form-group">

                  <input type="text" class="form-control" id="exampleInputEmail1" name="message" aria-describedby="emailHelp" placeholder="Enter Message">
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="staff_id" value="{{i.admin.id}}" hidden>
                  
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock body %}