{% extends "main/base.html" %} 
{% load static %}
 {% block body %}
 <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Course List</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Subjects</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'addSession' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div> 
       </div>
    </div>
    {% include 'includes/errormessage.html'%}
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Session Start</th>
                            <th>Session End</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for session in sessions %}
                         <tr>
                            <td>{{session.id}}</td>
                            <td>{{session.session_start}}</td>
                            <td>{{session.session_end}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'editSession' session.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'deleteSession' session.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endblock %}