{% extends "main/base.html" %} 
{% load static %}
 {% block body %}
 <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Course List</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Courses</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'addcourse' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0 datatable">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Course Name</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for course in courses %}
                         <tr>
                            <td>{{course.id}}</td>
                            <td>
                               <h2>
                                  <a>{{course.name}}</a>
                               </h2>
                            </td>
                            <td>{{course.created_at}}</td>
                            <td>{{course.updated_at}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'editcourse' course.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'deletecourse' course.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endblock %}