{% extends "main/base.html" %} 
{% load static %}
 {% block body %}
 <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Teachers</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Teachers</li>
             </ul>
          </div>
          
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'addTeacher' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
       {% include 'includes/errormessage.html'%}
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table id="table_id" class="table table-hover table-center mb-0 ">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Joining Date</th>
                            <th>Qualification</th>
                            <th>Experience</th>
                            <th>Address</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                          {% for teacher in teachers %}
                         <tr>
                             <td>{{teacher.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src={{teacher.admin.profile_pic.url}} alt="User Image"></a>
                                  <a href="#">{{teacher}}</a>
                               </h2>
                            </td>
                            <td>{{teacher.staff_dob}}</td>
                            <td>{{teacher.staff_}}</td>
                            <td>{{teacher.admin.email}}</td>
                            <td>{{teacher.staff_mobile_no}}</td>
                            <td>{{teacher.staff_joining_date}}</td>
                            <td>{{teacher.staff_qualification}}</td>
                            <td>{{teacher.staff_experience}}</td>
                            <td>{{teacher.staff_address}}</td>
                            <td>{{teacher.created_at}}</td>
                            <td>{{teacher.updated_at}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'editTeacher' teacher.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'deleteTeacher' teacher.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                        </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}