{% extends "main/base.html" %} 
{% load static %}
 {% block body %}
 <div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Students</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'hodpage' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
             </ul>
          </div>
          
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'addstudent' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
       {% include 'includes/errormessage.html'%}
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0 datatable">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Course</th>
                            <th>Session Start</th>
                            <th>Session End</th>
                            <th>Mobile Number</th>
                            <th>Permanent Address</th>
                            <th>Present Address</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                          {% for student in students %}
                         <tr>
                             <td>{{student.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src={{student.admin.profile_pic.url}} alt="User Image"></a>
                                  <a href="#">{{student}}</a>
                               </h2>
                            </td>
                            <td>{{student.student_dob}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{student.admin.email}}</td>
                            <td>{{student.course_id}}</td>
                            <td>{{student.session_id.session_start}}</td>
                            <td>{{student.session_id.session_end}}</td>
                            <td>{{student.student_mobile_no}}&nbsp;&nbsp;{{student.student_optional_mobile_no}}</td>
                            <td>{{student.permanent_address}}</td>
                            <td>{{student.present_address}}</td>
                            <td>{{student.created_at}}</td>
                            <td>{{student.updated_at}}</td>
                            <td class="text-right">
                               <div class="actions">
                                  <a href="{% url 'editstudent' student.id %}" class="btn btn-sm bg-success-light mr-2">
                                  <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="{% url 'deletestudent' student.id %}" class="btn btn-sm bg-danger-light">
                                  <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {% endfor %}
                        </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{% endblock %}