{% extends "main/base.html" %} {% block body %}
<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">View Attendance</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">View Attendance</a></li>
          <li class="breadcrumb-item active">Attendance</li>
        </ul>
      </div>
    </div>
  </div>
{% if action is None %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="POST" action="?action=view_attendance">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>View Attendance</span></h5>
                {% include 'includes/errormessage.html'%}
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Subject</label>
                  <select class="form-control" name="subject_id" required>
                    <option>Select Subject</option>
                    {% for i in subjects %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Session Year</label>
                    <select class="form-control" name="session_year_id" required>
                      <option>Select Year</option>
                      {% for i in sessions %}
                      <option value="{{i.id}}">
                        {{i.session_start}} TO {{i.session_end}}
                      </option>
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Attendance Data</label>
                  <input type="date" class="form-control" name="attendance_date" />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Show Students</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>View Attendance</span></h5>
                {% include 'includes/errormessage.html'%}
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Subject</label>
                  <select class="form-control" name="subject_id" disabled>
                    <option value="{{i.id}}">{{get_subject}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Session Year</label>
                    <select class="form-control" name="session_year_id" disabled>
                      <option value="{{i.id}}">
                        {{get_session_year}}
                      </option>
                    </select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Attendance Data</label>
                  <input type="date" class="form-control" name="attendance_date" value="{{attendance_date}}" disabled/>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="card card-table">
                          <div class="card-body">
                             <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-center mb-0 ">
                                   <thead>
                                      <tr>
                                         <th>ID</th>
                                         <th>Student Name</th>
                                         <th>Email</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                     {% for report in reports %}
                                      <tr>
                                         <td>{{report.id}}</td>
                                         <td>
                                            <h2>
                                               <a>{{report.student_id.admin.first_name}}</a>
                                            </h2>
                                         </td>
                                         <td>{{report.student_id.admin.email}}</td>
                                      </tr>
                                      {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>

{% endblock body %}
